<h1>Register</h1>
<form action="{% url 'myauth:register_submit' %}" method="post">
	{% csrf_token %}
	<input type="text" name="first_name" placeholder="First Name" /><br>
	<input type="text" name="last_name" placeholder="Last Name" /><br>
	<input type="text" name="username" placeholder="username" /><br>
	<input type="text" name="password" placeholder="Choose a password" /><br>
	<input type="text" name="email" placeholder="email" /><br>
	<input type="phone" name="phone_number" placeholder="Your phone number" /><br>
	<input type="submit" value="Register" />
</form>