{% extends 'myauth/base.html' %}

{% block title %} Verify your identity {% endblock %}

{% block content%}
	{% if error_msg %}<div class="form-signin text-center alert alert-danger"> {{ error_msg }} </div>{% endif %}
	{% if info_msg %}<div class="form-signin text-center alert alert-info"> {{ info_msg }} </div>{% endif %}
	<form class="form-signin" action="{% url 'myauth:check_token' %}" method="post">
		{% csrf_token %}
		<h2 class="form-signin-heading">Please enter the token sent to {{ phone_number }}</h2>
		<input class="form-control" required type="text" name="token" placeholder="token" /><br>
		<input type="hidden" name="username" value="{{username}}" />
		<button class="btn btn-lg btn-primary btn-block" type="submit">Verify</button>
	</form>
{% endblock %}










